[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wget="3.2"

[dev-packages]
pyspark = {version="3.5.0", extras = ["pandas_on_spark"]}
pytest = "7.4.3"
pytest-cov="4.1.0"

pex = "2.1.154"
findspark = "2.0.1"

[requires]
python_version = "3.11"
